/* Row 1 */
.position-1-1 {
    left: 0px;
    top: 0px;
}
.position-1-2 {
    left: 125px;
    top: 0px;
}

.position-1-3 {
    left: 250px;
    top: 0px;
}
.position-1-4 {
    left: 375px;
    top: 0px;
}


/* Row 2 */
.position-2-1 {
    left: 0px;
    top: 125px;
}
.position-2-2 {
    left: 125px;
    top: 125px;
}
.position-2-3 {
    left: 250px;
    top: 125px;
}

.position-2-4 {
    left: 375px;
    top: 125px;
}


/* Row 3 */
.position-3-1 {
    left: 0px;
    top: 250px;
}
.position-3-2 {
    left: 125px;
    top: 250px;
}
.position-3-3 {
    left: 250px;
    top: 250px;
}
.position-3-4 {
    left: 375px;
    top: 250px;
}


/* Row 4 */
.position-4-1 {
    left: 0px;
    top: 375px;
}
.position-4-2 {
    left: 125px;
    top: 375px;
}
.position-4-3 {
    left: 250px;
    top: 375px;
}
.position-4-4 {
    left: 375px;
    top: 375px;
}