body{
    margin: 20px auto;
    font-family: 'clear Sans', arial, sans-serif;
}
/*  game header  */
.game-header{
    margin: 0 auto;
    width: 500px;
    display: flex;
}
.game-header h1{
    font-size: 5em;
    margin: 0;
}
.game-header .title{
    width: 50%;
    height:100px;
    float: left;
}
.game-header .scores{
    width: 50%;
    float: right;
    height:100px;
}
.game-header .scores .score{
    background-color: silver;
    width: 45%;
    height:75px;
    float: left;
    font-size: 1.2em;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.game-header .scores .best{
    background-color: silver;
    width: 45%;
    height:75px;
    float: right;
    font-size: 1.2em;
    text-align: center;
    color: white;
    border-radius: 5px;
}


/*  game section  */
.game-section{
    margin: 0 auto;
    width: 500px;
    cursor: hand;
}
.tiles-container{
    background-color: #656565;
    padding: 2% 0 0 2%;
    border-radius: 5px ;
    width: 500px;
    height: 500px;
}
.tilesRow{
    margin-bottom: 2%;
    height: 23%;
}
.tiles{
    height: 100%;
    width: 23%;
    background-color: #aeaeae;
    margin-right: 2%;
    border-radius: 5px ;
    float: left;
}

.overlay-tiles{
    position: absolute;
    z-index: 2;
}
.tile-container {
    position: absolute;
    border-radius: 5px;

}
.tile {
    width: 115px;
    height: 115px;
    line-height: 115px;
    font-size: 60px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    z-index: 3;

}

.tile-2{
    background-color: #eee4da;
    color: #2f2f2f;
}
.tile-4{
    background-color: #ede0c8;
    color: #2f2f2f;
}
.tile-8{
    background-color: #f2b179;
    color: #f9f6f2;
}
.tile-16{
    background-color: #f59563;
    color: #f9f6f2;
}
.tile-32{
    background-color: #f67c5f;
    color: #f9f6f2;
}
.tile-64{
    background-color: #f65e3b;
    color: #f9f6f2;
}
.tile-128{
    background-color: #edcf72;
    color: #f9f6f2;
}
.tile-128 .tile{
    font-size: 50px;
}
.tile-256{
    background-color: #edcc61;
    color: #f9f6f2;
    font-size: 50px;
}
.tile-256 .tile{
    font-size: 50px;
}
.tile-512{
    background-color: #edc850;
    color: #f9f6f2;
    font-size: 50px;
}
.tile-512 .tile{
    font-size: 50px;
}
.tile-1024{
    background-color: #edc53f;
    color: #f9f6f2;
    font-size: 40px;
}
.tile-1024 .tile{
    font-size: 40px;
}
.tile-2048{
    background-color: #edc22e;
    color: #f9f6f2;
    font-size: 40px;
}
.tile-2048 .tile{
    font-size: 40px;
}
.tile-4096{
    background-color: #5eda92;
    color: #f9f6f2;
    font-size: 40px;
}
.tile-4096 .tile{
    font-size: 40px;
}
.tile-8192{
    background-color: #25bb64;
    color: #f9f6f2;
    font-size: 40px;
}
.tile-16tile-8192384 .tile{
    font-size: 40px;
}
.tile-16384{
    background-color: #25bb64;
    color: #f9f6f2;
    font-size: 30px;
}
.tile-16384 .tile{
    font-size: 30px;
}

.game-messages{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 5;
    text-align: center;
}
.game-messages h5 {
    font-size: 1.5em;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-top: 250px;
}
.button{
    margin: 0 auto;
    display: inline-block;
    background-color: #ede0c8;
    color: #2f2f2f;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 6;
}
.keep-going{
    display: none;
}
