body{
    margin: 20px auto;
}
/*  game header  */
.game-header{
    margin: 0 auto;
    width: 500px;
    display: flex;
}
.game-header h1{
    font-size: 5em;
    margin: 0;
}
.game-header .title{
    width: 50%;
    height:100px;
    float: left;
}
.game-header .scores{
    width: 50%;
    float: right;
    height:100px;
}
.game-header .scores .score{
    background-color: silver;
    width: 45%;
    height:75px;
    float: left;
    font-size: 1.5em;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.game-header .scores .best{
    background-color: silver;
    width: 45%;
    height:75px;
    float: right;
    font-size: 1.5em;
    text-align: center;
    color: white;
    border-radius: 5px;
}

/*  game section  */
.game-section{
    margin: 0 auto;
    width: 500px;
}
.tiles-container{
    background-color: #656565;
    padding: 2% 0 0 2%;
    border-radius: 5px ;
    width: 500px;
    height: 500px;
}
.tilesRow{
    margin-bottom: 2%;
    height: 23%;
}
.tiles{
    height: 100%;
    width: 23%;
    background-color: #aeaeae;
    margin-right: 2%;
    border-radius: 5px ;
    float: left;
}

.overlay-tiles{
    position: absolute;
    z-index: 999;
}
.tile-container {
    position: absolute;
    border-radius: 5px;

}
.tile {
    width: 115px;
    height: 115px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    z-index: 999;
    font-size: 60px;
}

.tile-2{
    background-color: #eee4da;
    color: #2f2f2f;
}
.tile-4{
    background-color: #ede0c8;
    color: #2f2f2f;
}
.tile-8{
    background-color: #f2b179;
    color: #f9f6f2;
}
.tile-16{
    background-color: #f59563;
    color: #f9f6f2;
}
.tile-32{
    background-color: #f67c5f;
    color: #f9f6f2;
}
.tile-64{
    background-color: #f65e3b;
    color: #f9f6f2;
}
.tile-128{
    background-color: #edcf72;
    color: #f9f6f2;
}
.tile-256{
    background-color: #edcc61;
    color: #f9f6f2;
}
.tile-512{
    background-color: #edc850;
    color: #f9f6f2;
}
.tile-1024{
    background-color: #edc53f;
    color: #f9f6f2;
}
.tile-2048{
    background-color: #edc22e;
    color: #f9f6f2;
}